/**
 * @Author: wuke
 * @Date: 2018/8/24
 * @Last Modified by: wuke
 * @Last Modified time: 2018/8/24
 */
@import '~antd/dist/antd.css';
.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
  line-height: 32px;
  color: #6d89ff;
  font-size: 1.5em;
  text-align: center;
}
.header{
  padding: 0;
  background: #29345c;
  font-size: 1.7em;
  text-align: center;
  color: #f2fffc;
}
